.loader-container {
  text-align: center;
  margin-top: 60px;
}

.loader {
  width: 45px;
  height: 45px;
  border: 5px solid #ddd;
  border-top: 5px solid #1976d2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

.loader-container p {
  margin-top: 15px;
  font-size: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}